
.isInWord{
  background-color: yellow;
}
.isWrong{
  background-color: red;
}
.isRight{
  background-color: green;
}

a{
  font-size: 4rem;
  border-radius: 5px;
  border: black solid 0px;
  padding-left: 10px;
  padding-right: 10px;
}
